@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:wght@500&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-text-color: #183b56;
    --secondary-text-color: #577592;
    --third-color: #2294ed;
    --third-color-dark: #1d69a3;
}

body {
    font-family: "Poppins", sans-serif;
    color: var(--primary-text-color);
}

p {
    font-family: "Roboto", sans-serif;
    color: var(--secondary-text-color);
    line-height: 1.4rem;
}

a {
    text-decoration: none;
}

.flex {
    display: flex;
    align-items: center;
}

.container {
    max-width: 1220px;
    margin-inline: auto;
    padding-left: 20px;
    padding-right: 20px;
}

nav {
    background-color: #f3faff;
    position: fixed;
    top: 0;
    z-index: 99;
    left: 0;
    right: 0;
}

.navbar {
    justify-content: space-between;
    padding-block: 8px;
}

.website-logo img {
    width: 120px;
}

.navbar-topics ul {
    gap: 16px;
    list-style: none;
}

.nav-link a {
    color: var(--secondary-text-color);
}

.nav-link {
    cursor: pointer;
}

.nav-link a:hover {
    color: var(--primary-text-color);
}

.search-bar {
    height: 32px;
    gap: 8px;
}

.news-input {
    width: 200px;
    height: 100%;
    padding-inline: 12px;
    border-radius: 4px;
    border: 2px solid #bbd0e2;
    font-family: "Roboto", sans-serif;
}

.search-button {
    background-color: var(--third-color);
    color: white;
    padding: 8px 24px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
}

.search-button:hover {
    background-color: var(--third-color-dark);
}

main {
    padding-block: 20px;
    margin-top: 80px;
}

.cards-container {
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 50px;
    align-items: start;
}

.card {
    width: 360px;
    min-height: 400px;
    border-radius: 4px;
    cursor: pointer;
    background-color: #ffffff;
    transition: all 0.3s ease;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    background-color: #f9fdff;
    transform: translateY(-3px);
}

.card-header img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.card-content {
    padding: 12px;
}

.news-source {
    margin-block: 12px;
}

.active a {
    color: var(--primary-text-color);
}

.bar {
    position: relative;
    margin: auto;
    display: none;
}

.bar span {
    position: absolute;
    color: black;
    font-size: 35px;
}

input[type="checkbox"] {
    display: none;
}

@media screen and (max-width: 1000px) {
    .navbar {
        display: block;
        padding: 0;
    }

    .logo {
        display: inline-block;
        padding-top: 15px;
        padding-left: 30px;
        justify-content: center;
    }

    .search-bar {
        width: 100%;
        padding: 0px 30px;
        display: inline-flex;
        justify-content: center;
        margin-bottom: 15px;
    }

    .news-input {
        width: 100%;
        text-align: center;
    }

    .navbar-topics ul {
        display: flex;
        flex-direction: column;
        height: 0;
        visibility: hidden;
        transition: 0.3s;
    }

    nav ul li {
        text-align: center;
        transition: 0.5s, 0.3s all;
        opacity: 0;
    }

    nav ul li:nth-child(1) {
        transform: translateX(-150px);
    }

    nav ul li:nth-child(2) {
        transform: translateX(-200px);
    }

    nav ul li:nth-child(3) {
        transform: translateX(-250px);
    }

    nav ul li:nth-child(4) {
        transform: translateX(-300px);
    }

    nav ul li:nth-child(5) {
        transform: translateX(-350px);
    }

    nav ul li:nth-child(6) {
        transform: translateX(-400px);
    }

    .bar {
        display: block;
        position: absolute;
        top: 25px;
        right: 60px;
        cursor: pointer;
    }

    .bar #times {
        display: none;
    }

    #check:checked~nav .bar #times {
        display: block;
    }

    #check:checked~nav .bar #bars {
        display: none;
    }

    #check:checked~nav ul {
        visibility: visible;
        height: 250px;
    }

    #check:checked~nav ul li:nth-child(1),
    #check:checked~nav ul li:nth-child(2),
    #check:checked~nav ul li:nth-child(3),
    #check:checked~nav ul li:nth-child(4),
    #check:checked~nav ul li:nth-child(5),
    #check:checked~nav ul li:nth-child(6) {
        transform: translateX(0);
        opacity: 1;
    }
}

footer {
    width: 100%;
    background-color: var(--primary-text-color);
    display: flex;
    position: relative;
    bottom: 0px;
}

.copyright {
    color: #8D8C8D;
    padding: 27px;
    font-size: 14px;
}

.about {
    position: absolute;
    right: 20px;
    padding: 25px;
}

.about ul {
    display: flex;
    color: white;
    font-weight: 200;
    font-size: small;
    list-style: none;
}

.about ul li {
    cursor: pointer;
}

.about ul li:hover {
    text-decoration: underline;
}

footer a {
    text-decoration: none;
    color: white;
}

main .content ul {
    list-style: disc;
    padding-left: 20px;
}

main .content ol {
    padding-left: 15px;
}

.other-pages-logo img {
    width: 180px;
}

.circle-list li {
    list-style: circle;
}

.contact_us p em {
    color: brown;
    cursor: pointer;
}